table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #9da5da;
    color: white;
}

tr:nth-child(even) {
    background-color: #ece9ff;
}

tr:hover {
    background-color: #b6aad9;
}